.product-image-container {
    text-align: center;
}
.availability {
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
}
.availability.true {
    background-color: #39b54a;
}
.availability.false {
    background-color: #ff0000;
}
.availability.true:before {
    content: "Available";
}
.availability.false:before {
    content: "Out of Stock";
}