<wm-page layouttype="one-column" columns="1" data-ng-controller="ProductsPageController" name="page1">
    <wm-header content="header" name="header" backgroundcolor="#005387" class="eshop-header" height="6em"></wm-header>
    <wm-top-nav name="nav-bar-primary" backgroundcolor="#0a3151" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-layoutgrid rows="3" columns="2" name="productDetails" height="auto">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn4" class="product-image-container" columnwidth="4" on-click="selectedItem">
                            <wm-picture name="picture2" maxwidth="100%" picturesource="bind:'http://wmstudio-apps.s3.amazonaws.com/eshop/Products/Images' + Variables.selectedItem.dataSet.imgUrl"></wm-picture>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn6" columnwidth="8">
                            <wm-gridrow name="gridrow3">
                                <wm-label name="ProductName" caption="bind:Variables.selectedItem.dataSet.name" width="100%" fontweight="bold" fontsize="24"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-label name="Availability" class="availability {{Variables.selectedItem.dataSet.availability}}" caption="" show="true"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-html height="auto" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="16" name="ProductDescription" content="bind:Variables.selectedItem.dataSet.description"></wm-html>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-label caption="Price: $" fontweight="bold" name="product_currency" color="#000000" paddingtop="5" paddingleft="5" paddingbottom="5" fontsize="18"></wm-label>
                                <wm-label name="ProductPrice" caption="bind:Variables.selectedItem.dataSet.price" fontweight="bold" color="#000000" paddingtop="5" paddingbottom="5" paddingright="5" fontsize="18"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-button show="bind:Variables.selectedItem.dataSet.availability" disabled="bind:!Variables.selectedItem.dataSet.availability" name="addToCart" caption="Add to Cart" paddingleft="10" paddingright="10" paddingtop="7" paddingbottom="7" margintop="10" marginbottom="10" marginright="5" fontsize="20" width="140" on-click="addToCartClick($event, $scope)"
                                           backgroundcolor="#015b7f" color="#ffffff" iconname="shopping-cart"></wm-button>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>