<wm-page layouttype="one-column" columns="1" data-ng-controller="ProfilePageController" name="page1">
    <wm-header content="header" name="header" backgroundcolor="#005387" class="eshop-header" height="6em"></wm-header>
    <wm-top-nav name="nav-bar-primary" backgroundcolor="#0a3151" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-form name="profile" method="get">
                    <wm-composite widget="text" name="Name">
                        <wm-label class="col-md-2" name="Name" caption="Name"></wm-label>
                        <wm-text name="NameVal" datavalue="bind:Variables.currentUser.dataSet.name"></wm-text>
                    </wm-composite>
                    <wm-composite widget="text" name="Phone">
                        <wm-label class="col-md-2" name="Phone Number" caption="Phone Number"></wm-label>
                        <wm-text name="PhoneVal" datavalue="bind:Variables.currentUser.dataSet.phone" type="number"></wm-text>
                    </wm-composite>
                    <wm-composite widget="text" name="street">
                        <wm-label class="col-md-2" name="Street Address" caption="Street Address"></wm-label>
                        <wm-text name="StreetVal" datavalue="bind:Variables.currentUser.dataSet.street"></wm-text>
                    </wm-composite>
                    <wm-composite widget="text" name="landmark">
                        <wm-label class="col-md-2" name="Landmark" caption="Landmark"></wm-label>
                        <wm-text name="LandmarkVal" datavalue="bind:Variables.currentUser.dataSet.landmark"></wm-text>
                    </wm-composite>
                    <wm-composite widget="text" name="city">
                        <wm-label class="col-md-2" name="City" caption="City"></wm-label>
                        <wm-text name="CityVal" datavalue="bind:Variables.currentUser.dataSet.city"></wm-text>
                    </wm-composite>
                    <wm-composite widget="text" name="pin">
                        <wm-label class="col-md-2" name="Pin" caption="Pin"></wm-label>
                        <wm-text name="PinVal" datavalue="bind:Variables.currentUser.dataSet.pin"></wm-text>
                    </wm-composite>
                    <wm-composite widget="text" name="country">
                        <wm-label class="col-md-2" name="Country" caption="Country"></wm-label>
                        <wm-text name="CountryVal" datavalue="bind:Variables.currentUser.dataSet.country"></wm-text>
                    </wm-composite>
                    <wm-button name="save" textalign="center" caption="SAVE CHANGES" backgroundcolor="#007fb8" color="#f9f9f9" on-click="saveClick($event, $scope)" paddingunit="em" margintop="2" marginunit="em" marginbottom="2"></wm-button>
                    <wm-message name="successSaveMsg" class="save-msg" show="false" caption="Your changes have been saved successfully"></wm-message>
                    <wm-message name="failureSaveMsg" class="save-msg" type="error" show="false" caption="Invalid data provided"></wm-message>
                </wm-form>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>