<wm-page layouttype="one-column" columns="1" data-ng-controller="CartPageController" name="page1">
    <wm-header content="header" name="header" backgroundcolor="#005387" class="eshop-header" height="6em"></wm-header>
    <wm-top-nav name="nav-bar-primary" backgroundcolor="#0a3151" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-layoutgrid rows="1" columns="2" name="layoutgrid3" padding="2em">
                    <wm-gridrow name="gridrow3">
                        <wm-label show="false" caption="No Items in Cart" name="no_cart_items_text" margintop="2" marginright="2" marginbottom="2" marginleft="2" marginunit="em"></wm-label>
                        <wm-panel name="cartPanel" show="false" height="100%">
                            <wm-gridcolumn name="gridcolumn5" columnwidth="8" horizontalalign="left" paddingtop="1" paddingunit="em">
                                <wm-row name="row2" class="list-header col-md-12" height="auto">
                                    <wm-column name="column2" columnwidth="1" class="imageColumn"></wm-column>
                                    <wm-column name="column2" columnwidth="9">
                                        <wm-label caption="Description" name="cart-items_desc"></wm-label>
                                    </wm-column>
                                    <wm-column name="column2" columnwidth="1">
                                        <wm-label caption="Price ($)" name="cart-items_currency"></wm-label>
                                    </wm-column>
                                    <wm-column name="column2" columnwidth="1">
                                        <wm-label caption="Quantity" name="cart-items_quantity"></wm-label>
                                    </wm-column>
                                </wm-row>
                                <wm-livelist name="cart-items" class="cart-items-container" data-ng-controller="cart-itemsController" dataset="bind:Variables.cart.dataSet" shownavigation="false">
                                    <wm-listtemplate name="listtemplate1" itemclass="cart-items col-md-12">
                                        <wm-row name="row2">
                                            <wm-column name="column2" columnwidth="1" class="imageColumn">
                                                <wm-picture name="cart_items_thumb" picturesource="bind:Variables.cart.dataSet.product.imgUrl" pictureaspect="None" class="cart-items-thumb"></wm-picture>
                                            </wm-column>
                                            <wm-column name="column3" columnwidth="9">
                                                <wm-label name="cart_items_name" class="cart-items-name" marginright="15" caption="bind:Variables.cart.dataSet.product.name" width="100%"></wm-label>
                                                <wm-label name="cart_items_desc" class="cart-items-desc" marginright="15" caption="bind:Variables.cart.dataSet.product.description" width="100%"></wm-label>
                                            </wm-column>
                                            <wm-column name="column4" columnwidth="1">
                                                <wm-label name="cart_items_price" class="cart-items-price" caption="bind:Variables.cart.dataSet.product.price"></wm-label>
                                            </wm-column>
                                            <wm-column name="column5" columnwidth="1">
                                                <wm-label caption="bind:Variables.cart.dataSet.quantity" width="3em" name="label8"></wm-label>
                                            </wm-column>
                                        </wm-row>
                                    </wm-listtemplate>
                                </wm-livelist>
                            </wm-gridcolumn>
                            <wm-gridcolumn show="{{!cartItemsAvailable}}" name="gridcolumn6" columnwidth="4" horizontalalign="center">
                                <wm-panel class="total-items" name="totalItemsPanel">
                                    <wm-label name="totalItems" caption="Total Items:" width="25%"></wm-label>
                                    <wm-label name="totalItems" caption="{{Variables.cart.dataSet.data.length}}" width="72%"></wm-label>
                                    <wm-label name="totalPrice" caption="Total Price:" width="25%"></wm-label>
                                    <wm-label name="totalPrice" caption="{{totalPrice | currency:'$ '}}" width="72%"></wm-label>
                                </wm-panel>
                                <wm-panel class="btn-container" name="actionPanel">
                                    <wm-button caption="Checkout" name="checkout" width="128" marginleft="2" marginunit="em" backgroundcolor="#015b7f" color="#ffffff" on-click="checkoutClick($event, $scope)" iconname="transfer"></wm-button>
                                </wm-panel>
                            </wm-gridcolumn>
                        </wm-panel>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>
