.products-list {
    max-height: 210px !important;
    overflow: hidden;
}

.products-list .app-list-item {
    background: white;
}

.list-product-thumb {
    max-width: 8em;
    max-height: 4em;
    padding: 0.25em;
}
.dealsBanner {
    border: 1px #ccc solid;
    background: #f7f7f7;
    vertical-align: middle;
    text-align: center;
    height: 11em;
}
.dealsBanner img {
    width: 100%;
}
.productCategoryListing {
    background: #eee;
    margin-bottom: 0.5em;
}
.prodcategory {
    border: 1px #ccc solid;
}
.productCategoryListing .prodcategory div.app-column {
    float: left;
}
.productCategoryListing .app-list-item {
    border: 1px dotted #e3e3e3;
    height: 5em;
}
.productCategoryListing .app-list-item .app-label {
    white-space: nowrap;
    text-overflow: ellipsis;
}