<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WaveMaker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--fav icon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/remote-studio/app/build/application/css/wm-style.css">
    <!-- theme --> <!-- /theme -->
    <link rel="stylesheet" href="app.css">
</head>
<body class="wm-app" data-ng-app="Application" id="ng-app" data-ng-controller="AppController">
<script src="/remote-studio/app/build/application/wm-libs.js"></script>
<script src="/remote-studio/app/build/application/wm-loader.js"></script>
<!-- load IE9 specific styles and scripts -->
<!--[if lt IE 10]>
<script src="/remote-studio/app/build/application/placeholders.js"></script>
<![endif]-->
<script src="app.js"></script>
<div id="wm-app-content"></div>
<div id="wm-common-content"></div>
<wm-spinner name="global-spinner" classname="global-spinner" caption="" show="{{pageLoading}}"></wm-spinner>
<toaster-container toaster-options="{'limit': 1,'time-out': 2000, 'position-class': 'toast-bottom-right'}"></toaster-container>

</body>
</html>
